@{
  Layout = "_Layout";
}

<h1 class="main">Eau Claire's Salon</h1>
<hr/>
<h2>Welcome, Claire!</h2>
<p>Here is a web application to help you manage your stylists and their clients. You can add a list of stylists working at your salon, and add clients who get their hair done by that specific stylist.</p>
<p>You will then be able to select a stylist, see their details, and see a list of all of their clients.</p>
<p>You can add new stylists whenever they are hired, and add new clients when they begin seeing that specific stylist.</p>
<p>You can also select a client to see which stylist they see! You also have the option to delete or edit a client or stylist.</p>
<hr/>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>